div.home
    div.home__box.z-depth-2.row
        //Vendedor
        .home__box__metrics
            .home__box__metrics__item
                span.title Dia
                span 1000 €
                    small 4 ventas
            .home__box__metrics__item
                span.title Semana
                span 7000 €
                    small 56 ventas
            .home__box__metrics__item.home__box__metrics__item--last
                span.title Mes
                span 30.000 €
                    small 189 ventas
        .row
            .buttons.col.s4.offset-s4
                a.waves-effect.waves-light.btn day
                a.waves-effect.waves-light.btn.deep-orange.lighten-1 week
                a.waves-effect.waves-light.btn month
        .row
            .col.s4
                div.home__box__user
                    img.user__image(src="../../../app/img/girl-1327774_960_720.jpg", alt="")
                    h1 Lisa Henry Miller
                    div
                        p  Usuario: 129
                        p  Email: lisa.henry@mail.com
                        p  Telefono: 673 923 239
            div.home__box__list.col.s8
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                div.home__box__list__item
                    .home__box__list__item__data
                        small.date 12 jun 2016
                        p.user Frutas y verduras pepito perez
                    .home__box__list__item__price
                        p.price 23€
                
.fixed-action-btn.horizontal.click-to-toggle(style='top: 45px; right: 70px;')
  a.btn-floating.btn-large.red(ui-sref = "login") 
    i.material-icons power_settings_new
        
            
