div.home
    div.home__box.z-depth-2
        //Vendedor
        .home__box__metrics
            .home__box__metrics__item
                span.title Dia
                span 1000 €
                    small 4 ventas
            .home__box__metrics__item
                span.title Semana
                span 7000 €
                    small 56 ventas
            .home__box__metrics__item.home__box__metrics__item--last
                span.title Mes
                span 30.000 €
                    small 189 ventas
        .buttons
            a.waves-effect.waves-light.btn day
            a.waves-effect.waves-light.btn.deep-orange.lighten-1 week
            a.waves-effect.waves-light.btn month
        div.home__box__list
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
                
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
            
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
                
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
            
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
                
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
            
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
                
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
            
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
                
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
            
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
                
            div.home__box__list__item
                small.date 12 jun 2016
                .home__box__list__item__data
                    p.price 23€ 
                    p.user Antonio Rodrigo
            
                
.fixed-action-btn.horizontal.click-to-toggle(style='top: 45px; right: 70px;')
  a.btn-floating.btn-large.red
    i.material-icons menu
  ul
    li
      a.btn-floating.green
        i.material-icons store
    li
      a.btn-floating.red.darken-1(ui-sref = "login")
        i.material-icons power_settings_new
    
            
