.header
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    background-color: $white
    height: 100px
    &__img
        width: 14em
        padding: 20px


.main
    margin-top: 50px
    height: calc(100vh - 100px)

.footer
    position: absolute
    bottom: 0px
    left: 0px
    right: 0px
    background-color: $midiumMain
    height: 50px

input
    &:focus
        outline: 0
