.home
    background-color: $light-grey-color
    margin-top: 200px
    height: calc(100vh - 200px)
    &__box
        top: 10vh
        right: 15%
        position: absolute
        height: 85vh
        width: 70%
        background-color: white
        &__metrics
            display: flex
            border-bottom: 1px solid $dark-grey-color
            &__item
                width: 33%
                border-right: 1px solid $dark-grey-color
                text-align: center
                font-size: 40px
                height: 130px
                display: flex
                justify-content: center
                align-items: center
                position: relative
                .title
                    font-size: 20px
                    position: absolute
                    top: 10px
                    left: 10px
                    font-size: 16px
                    color: $mediun-grey-color
                small
                    font-size: 15px
                    color: $mediun-grey-color
                &--last
                    border-right: 0px
        &__list
            width: 50%
            height: 57vh
            overflow: scroll
            margin-top: 20px
            &__item
                height: 6em
                padding-top: 15px
                border-left: 2px solid white
                display: flex
                &:hover
                    border-left: 2px solid $darkMain
                    background-color: $light-grey-color
                .date
                    font-size: 14px
                    color: $mediun-grey-color
                &__data
                    display: flex
                    flex-direction: column
                    width: 50%
                &__price
                    width: 50%
                    font-weight: 500
                    .price
                        color: $lightSecond
                        text-align: right
                        font-size: 2em
                        margin: 0
                        margin-right: 20px
        &__user
            padding: 0px 20px
            display: flex
            flex-direction: column
            align-items: center
            h1
                font-size: 30px
            h2
                font-size: 20px
                margin-top: 0px
            p
                font-size: 18px
                &::before
                    content: ""
                    font-size: 10px
                    color: $lightSecond
                    font-family: FontAwesome
                    margin-right: 10px
            .user__image
                text-align: center
                width: 150px
                border-radius: 100px


        .buttons
            display: flex
            justify-content: space-around
            width: 30%
            margin-top: 10px
