<div class="home">
    <div class="home__box z-depth-2">
        <!--Vendedor-->
        <div class="home__box__metrics">
            <div class="home__box__metrics__item">
                <span class="title">Dia</span>
                <span>1000 €
                    <small>4 ventas</small>
                </span>
            </div>
            <div class="home__box__metrics__item">
                <span class="title">Semana</span>
                <span>7000 €
                    <small>56 ventas</small>
                </span>
            </div>
            <div class="home__box__metrics__item home__box__metrics__item--last">
                <span class="title">Mes</span>
                <span>30.000 €
                    <small>189 ventas</small>
                </span>
            </div>
        </div>
        <div class="buttons"><a class="waves-effect waves-light btn">day</a><a class="waves-effect waves-light btn deep-orange lighten-1">week</a><a class="waves-effect waves-light btn">month</a>
        </div>
        <div class="home__box__list">
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
            <div class="home__box__list__item">
                <small class="date">12 jun 2016</small>
                <div class="home__box__list__item__data">
                    <p class="price">23€ </p>
                    <p class="user">Antonio Rodrigo</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="top: 45px; right: 70px;" class="fixed-action-btn horizontal click-to-toggle"><a class="btn-floating btn-large red"><i class="material-icons">menu</i></a>
    <ul>
        <li><a class="btn-floating green"><i class="material-icons">store</i></a>
        </li>
        <li><a ui-sref="login" class="btn-floating red darken-1"><i class="material-icons">power_settings_new</i></a>
        </li>
    </ul>
</div>