div.home
    div.home__box.z-depth-2.row
        //Vendedor
        .home__box__metrics
            .home__box__metrics__item
                span.title Día
                span 10.000 €
                    small 4 ventas
            .home__box__metrics__item
                span.title Semana
                span 70.000 €
                    small 56 ventas
            .home__box__metrics__item.home__box__metrics__item--last
                span.title Mes
                span 30.0000 €
                    small 189 ventas
        .row
            .col.s4
                div.home__box__user
                    img.user__image(src="../../../app/img/manfaat-mengetahui-elastisitas-permintaan.jpg", alt="")
                    h1 {{ globals.currentUser.name }} {{ globals.currentUser.surname }}
                    h2 C/Diego de leon 24
                    div
                        p Numero de puestos 19
                        p Telefono: 673 923 239
            div.home__box__list.col.s8
                .preloader-wrapper.big.active(ng-show='loading')
                    .spinner-layer.spinner-orange-only
                        .circle-clipper.left
                            .circle
                        .gap-patch
                            .circle
                        .circle-clipper.right
                            .circle

                div.home__box__list__item(ng-repeat='device in devices')
                    .home__box__list__item__data(ng-click='showSeller(device.uuid)')
                        small.date TPV: {{ device.uuid }}
                        p.user Usuario: {{ device.seller.first_name }} {{ device.seller.last_name }}
                    .home__box__list__item__price
                        p.price X.XXX€
                
                
            
                
//- .fixed-action-btn.horizontal.click-to-toggle(style='top: 45px; right: 70px;')
//-   a.btn-floating.btn-large.red
//-     i.material-icons menu
//-   ul
//-     li
//-       a.btn-floating.green
//-         i.material-icons store
//-     li
//-       a.btn-floating.red.darken-1(ui-sref = "login")
//-         i.material-icons power_settings_new

.fixed-action-btn.horizontal.click-to-toggle(style='top: 45px; right: 70px;')
  a.btn-floating.btn-large.red(ui-sref = "login") 
    i.material-icons power_settings_new
        
            
