.login {
  background-image: url("../img/background.png");
  margin-top: 100px;
  height: calc(100vh - 100px);
  background-size: 1300px;
  background-position: -250px 0px;
}
.login__box {
  background-color: #FFFFFF;
  width: 40%;
  height: 50%;
  top: 25%;
  right: 5%;
  position: absolute;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.login__form {
  height: 75%;
  padding: 0em 8em;
  margin-top: 12%;
  border: 0px;
}
.login__form form {
  border: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
}
.login__form form .submit {
  margin-top: 60px;
}
.login__form form .row {
  margin-left: 0;
  margin-right: 0;
}
