.login
    .login__box
        //- form.css-form.login__form(role='form', ng-submit="login()", name='loginForm', novalidate='', method='post').mb-lg
            //- .form-group
            //-     input.form-control(type='text', ng-model="user.email", name="user_email", autocomplete="off", required='')
            //-     label.control-label Name
            //- 
            //- .form-group
            //-     input.form-control(type='password', ng-model="user.password", name="user_password", required='')
            //-     label.control-label Password
            //-     
            //- button.btn(type='submit') 
            //-     | login
            // 
        .row.login__form
          form.col.s12
            .row
              .input-field.col.s12
                input#Name.validate(type='text')
                label(for='Name') Name
            .row
              .input-field.col.s12
                input#Password.validate(type='password')
                label(for='Password') Password
